{% extends 'base.html'%}
{% load bootstrap_icons %}
{% load static %}
{% load bootstrap5 %}

{% block styles%}
    {% bootstrap_css %}
    <link rel='stylesheet' href="{% static 'css/home.css'%}">
{% endblock%}

{% block content%}

<div class='container'>
    {% for project in projects %}
    <div class="card" style="width: 18rem;">
        <img src=" {{project.screenshot.url}} " class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"> {{project.name}} </h5>
            <p class="card-text">{{project.description}} </p>
            <p class="card-text">{{project.description}} </p>
            <div class="card__meta">
                {% if project.creator_score != 0.0 %}
                <a href="#">{{project.creator_score}}</a>
                {% else%}
                {% endif %}
            </div>
            <a href="{{project.link}}" class="btn btn-primary">Visit it here</a>
            <div class= 'card-bottom'>
                <div class='card-creator'>

                    <div class='card-owner'>
                        By:{{project.profile.user.username}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
<div>





{% endblock %}