{% extends 'base.html'% }
{% load bootstrap_icons %}
{% load static %}

{% block styles%}

<lin rel='stylesheet' href="{ static 'css/profile.css'} ">
{% endblock%}

{% block content%}
<div class='profile'>
    <div class='profile-left'></div>
    <div class='profile-img'>
        <img src="{{profile.profile_pic}}">
        <p style = 'text-align:center;'>  {{profile.user.username}} </p>
        <div class=bio> {{profile.bio}} </div>
        <p>your contact : {{profile.email}} </p>
    </div>
    <div class="profile-right">
        {% if average == 0 %}
        {% else %}
        <label><span>{{average | floatformat:0}}</span> average score</label>
        {% endif %}
    </div>
</div>
<div class='container'>
    {% for project in projects %}
    <div class="card" style="width: 18rem;">
        <img src=" {{project.screenshot.url}} " class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"> {{project.name}} </h5>
            <p class="card-text">{{project.description}} </p>
            <p class="card-text">{{project.description}} </p>
            <div class="card__meta">
                {% if project.creator_score != 0.0 %}
                <a href="#">{{project.creator_score}}</a>
                {% else%}
                {% endif %}
            </div>
            <a href="{{project.link}}" class="btn btn-primary">Visit it here</a>
            <div class= 'card-bottom'>
                <div class='card-creator'>
                    <img src="{{project.profile.profile_pic.url}}" alt="user">
                    <div class='card-owner'>
                        By:<a href="{% url 'profile' project.profile.user.id %}">{{project.profile.user.username}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
<div>
{% endblock %}

