
{% extends 'base.html'%}
{% load bootstrap5 %}
{% load bootstrap_icons %}
{% load static %}


{% block styles%}
    {% bootstrap_css %}
    <link rel='stylesheet' href="{% static 'css/home.css'%}">
{% endblock%}

{% block content%}

<div class="search-title">
    Found {{count}} projects titled <span>{{message}}</span>
</div>

{% if projects %}
<div class='container-fluid'>
    <div class="row ">
        {% for project in projects %}
        <div class="col-6 .col-sm-3">
            <div class='cards'>
                <div class="card" style="width: 21rem;">
                    <img src=" {{project.screenshot.url}} " class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"> {{project.name}} </h5>
                        <p class="card-text">{{project.description}} </p>
                        <div class="card__meta">
                            {% if project.creator_score != 0.0 %}
                            <a href="#">{{project.creator_score | floatformat:0 }}</a>
                            {% else%}
                            {% endif %}
                        </div>
                        
                        <a href="{{project.link}}"  {% bs_icon 'share-fill' %}</a>
                        <div class= 'card-bottom'>
                            <div class='card-creator'>

                                <div class='card-owner'>
                                    By:{{project.profile.user.username}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
<div>

{% else %}
<div class="search-title">
    Found NO projects titled <span>{{message}}</span>
</div>
<div class="suggestions-title">Go back <a href="/">home</a> to see other projects</div>

{% endif%}

{% endblock %}